.box {
  border: 2px solid green;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
