img {
  height: 200px;
}

button {
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: blueviolet;
  color: white;
  margin: 5px;
}

button:hover {
  background-color: blue;
  color: white;
}
